[submodule "Packages/Runestone"]
	path = Packages/Runestone
	url = https://github.com/ActuallyTaylor/Runestone
[submodule "Packages/tree-sitter-jelly"]
	path = Packages/tree-sitter-jelly
	url = https://github.com/ActuallyTaylor/tree-sitter-jelly
[submodule "Packages/Open-Jellycore"]
	path = Packages/Open-Jellycore
	url = https://github.com/ActuallyTaylor/Open-Jellycore
[submodule "Packages/Swift-Themes"]
	path = Packages/Swift-Themes
	url = https://github.com/ActuallyTaylor/Swift-Themes
